@import "~bootstrap/scss/bootstrap.scss";

html, body {
    font-family: "Arial", -apple-system, BlinkMacSystemFont, Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

.site-container {
    .footer {
        background: #f4f4f4;
        padding: 24px;
    }
    .footer-cta {
        font-size: 16px;
        color: #696969;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
            padding-bottom: 10px
        }
    }
    .footer-pad {
        padding: 24px;
        font-size: 13px;
        .link-items {
            color: #696969;
            cursor: pointer;
            float: right;
            span {
                padding: 0 20px;
            }
            &:hover{
                color: #86868b;
            };
        }
    }
}

.footer-form-button {
    background-color: #686869;
    color: #fff;
    font-weight: bold;
    min-width: 220px;
    width: 30% !important;
    padding: 15px !important;
    font-size: 0.875rem;
    font-weight: 700;
    border: none;
    border-radius: 0 !important;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    text-shadow: none !important;
    &:hover {
        background-color: #86868b;
    }
}

.footer-form-input {
    min-width: 220px;
    width: 30% !important;
    padding: 15px !important;
    &::placeholder {
        font-weight: normal;
        color: #a1a1a1;
        opacity: 1;
    }
}

.footer-link {
    text-decoration: none;
    color: #696969;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.5em;
    &:hover{
        text-decoration: none;
        color: #86868b;
    };
}

// @media screen and (max-width: 780) {
//     body{
//         .site-container {
//             .footer {
//                 color: red;
//                 .footer-cta {
//                     .footer-form-input {
//                         min-width: 220px;
//                         width: 30% !important;
//                     }
//                 }
//             }
//         }
//     }
// }
